html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.este{
	background-image: url('img/marcadeagua6.jpg');
	color: #000000;
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}
